<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/video.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <title>Home | Label</title>
</head>
    <body>
        <header> 
             <%- include('./partials/nav')  %>

         </header>


    <section class="home">
        <div class="content">
            <h1>Label welcomes <br><em>out of the box </em></h1>
            <p>Lormen is dolor sit amet, consectetur adipiscing elit sed diam nonum et dolor diam</p>
            <a href="#">Read more</a>
        </div>
        <div class="media-icons">
            <a href="#"><i class="fab fa-facebook-square"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-youtube"></i></a>
        </div>
    </section>

    </body>
</html>