body {
    display: grid;
    grid-template: auto 1fr auto / auto 1fr auto;
    /* grid-template-columns: minmax(150px, 25%) 1fr; */
}

header {
    padding: 2rem;
    grid-column: 2 / 4;
    background: pink;
  }

  .sidebar {
      grid-column: 1 / 2;
      grid-row: 1/ 3;

    /* width: clamp(23ch, 50%, 46ch); */
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background: green;
  }

  main {
    grid-column: 2 / 4;
    background: burlywood;
  }

  footer {
    grid-column: 1 / 4;
    background:yellow
  }
