body {
    display: grid;
    grid-template: auto 1fr auto / auto 1fr auto;
    /* grid-template-columns: minmax(150px, 25%) 1fr; */
}

header {
    padding: 2rem;
    grid-column: 2 / 4;
    background: pink;
  }

  .sidebar-left {
      grid-column: 1 / 2;
      grid-row: 1/ 3;

    /* width: clamp(23ch, 50%, 46ch); */
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background: green;
  }

  .sidebar-right {
      grid-column: 3 / 4;
      grid-row: 2/ 3;

    /* width: clamp(23ch, 50%, 46ch); */
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background: green;
  }

  main {
    grid-column: 2 / 3;
    background: burlywood;
  }

  .content {
    height: auto;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
  }

  .visual {
    height: 100px;
    width: 100%;
    background: grey;
  }

  .card {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    justify-content: space-between;
    background: plum;
  }

  h3 {
    margin: 0
  }

  footer {
    grid-column: 1 / 4;
    background:yellow
  }
