@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body{
    background: black;
}

nav {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bebas", sans-serif;
}

header {
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 200px;
    transition: 0.5s ease;
}

header .brand {
    color: rgb(255, 255, 255);
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

header .brand:hover {
 color:rgba(30, 255, 0, 0.392);
}

header .navigation {
    position: relative;
}

header .navigation .nav-items a {
    position: relative;
    color: rgb(255, 255, 255);
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px;
    transition: 0.3s ease;
}

header .navigation .nav-items a:hover{
    color:rgba(254, 254, 254, 0.392);
}

header .navigation .nav-items a:before {
    content: "";
    position: absolute;
    background: rgb(255, 255, 255);
    width: 0%;
    height: 3px;
    bottom: 0;
    left: 0;
    transition: 0.3s ease;
}

header .navigation .nav-items a:hover:before {
    width: 100%;
}

section{
    padding: 100px 200px;
}

.home{
    position: relative;
    width: 72%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #ffffff;
}

.home .content {
    z-index: 888;
    color: #fff;
    width: 70%;
    margin-top: 50px;
    
}

.home .content h1{
    font-size: 4em;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 75px;
    margin-bottom: 40px;
}

.home .content h1 em{
    font-size: 1.2em;
    font-weight: 600;
}

.home .content p{
    margin-bottom: 65px;
}

.home .content a{
    background: rgb(255, 255, 255);
    padding: 15px 35px;
    color: #000000;
    font-size: 1.1em;
    font-weight: 500;
    text-decoration: none;
    border-radius: 2;
}

.home .content a:hover{
    background: rgba(255, 255, 255, 0.536);
}

.home .media-icons{
    z-index: 888;
    position: absolute;
    right: 30px;
    display: flex;
    flex-direction: column;
    transition: 0.5s ease;
}

.home .media-icons a{
    color: #fff;
    font-size: 1.6em;
    transition: 0.3s ease;
}

.home .media-icons a:not(:last-child){
   margin-bottom: 20px;
}

.home .media-icons a:hover{
    transform: scale(1.3)
}

.home video{
    z-index: 000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}